
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#slider {
    position: absolute;
} 
:global(:root) {
    --sb-width: 5rem;
    --sb-visibility: hidden;
  }
