.login {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/static/dem_images/d6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
