
 .sidenav {
  height: 100vh;
  width: var(--sb-width, 5rem);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 1.25rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#121113, #4f4e50, #070707);
  transition: width 0.5s ease-in-out;
}
.sidenav a{
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    display: flex;
    padding: 1rem 1.5rem;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.sidenav li:last-child {
  margin-top: auto;
}
.hr {
color: #7b7b7c;
margin: 0;
border: 0.5px solid #7b7b7c;

}

.sidenav ul{
    padding:0;
    list-style: none;
}
.sidenav a.active,
.sidenav a:hover,
.sidenav a:focus-visible {
  outline: none;
  color: #222323;
  background-color: #ece1e1;
}

.collapse {
  font-size: 1rem;
  margin-inline-start: 0.5rem;
  visibility: var(--sb-visibility,hidden);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.item {
  display: flex;
  align-items: center;
}

.collapseTitle {
  font-size: 1rem;
  color: white;
  margin-left: 0.5rem;
  transition: color 0.3s ease-in-out;
}
